name: CI - Build & Run Docker

on: [push]

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t saad-ci-image .

      - name: Run Docker container
        run: docker run saad-ci-image

