name: CI with Docker

on: [push]

jobs:
  docker-build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t saad-cidocker .

      - name: Run Docker container
        run: docker run saad-ci-docker

